*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    display: block;
}

nav {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  top: 0;
  box-shadow: 0px 3px 3px rgb(171, 163, 163);
  background: whitesmoke;
  position: sticky;
}


nav ul {
  width: 100%;
  display: flex;              
  align-items: center;
  gap: 400px;                  
  list-style: none;
  margin: 0;
  padding: 0;
}


nav ul li {
  font-size: 20px;
  cursor: pointer;
}


nav ul li:hover {
  color:lightslategray;
}



 .section1{
    /* border: 2px solid red; */ 
    height: 1200px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    padding: 20px;

}
.div1{
    /* border: 2px solid; */
    width: 400px;
    height: 810px;
    text-align: center;
    padding: 10px;
    flex: 450px;
    font-family: sans-serif;
    
}

.img1{
    height: 600px;
    width: 450px;

}
.section2{
    /* border: 2px solid; */
    padding: 40px;
    text-align: center;
    font-family: sans-serif;
}
.section2 img{
 height: 500px;
 width: 800px;
 margin-left: 510px;

}
.foot{
    /* border: 2px solid red;  */
    height: 300px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 20px;

}
.foot div{
    /* border: 2px solid green; */
    height: 250px;
    width: 350px;
    font-family: sans-serif;
}
.fd1{
    padding: 20px;
}
.fd2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.insidediv1{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}
.insidediv1 img{
    height: 50px;
}
.insidediv1:hover{
    background-color: lightgrey;
}
.fd3{
    padding: 20px;
}
.box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.box span {
    background: black;    
    color: white;
    padding: 5px 12px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    height: 35px;
    text-align: center;
}

.box span:hover {
    opacity: 0.7;
}

